@import 'src/sass/variables/colors';
$welcome-text-letter-spacing: 10px;

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wrapper {
  position: relative;
  text-align: center;
}

/**
 * 1. Counteracts the letter spacing on the last letter.
 */
.welcomeText {
  margin-right: -$welcome-text-letter-spacing; /* 1 */
  font-weight: bold;
  letter-spacing: $welcome-text-letter-spacing;
  color: $grey;
}

.progressBarWrapper {
  margin-top: 1.5em;
}
