@import '../variables/colors';
@import '../variables/typography';

/**
 * Set up a decent box model on the root element
 */
html {
  overflow-x: hidden;
  box-sizing: border-box;
}

/**
 * Makes all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
::before,
::after {
  box-sizing: inherit;
}

/**
 * 1. Fixes some typography bugs.
 */
body {
  font: #{$root-font-size} / 1.5 $sans-serif-font-stack;
  color: $grey;
  background-color: $black;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased; /* 1 */ // sass-lint:disable-line no-vendor-prefixes
  -moz-osx-font-smoothing: grayscale; /* 1 */ // sass-lint:disable-line no-vendor-prefixes
}

/**
 * Default style for all images.
 */
img {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

.unscrollable {
  overflow: hidden;
}
