@import 'src/sass/variables/colors';

.button {
  width: 183px;
  height: 55px;
  position: relative;
  color: $white;
  text-align: center;
  border: none;
  background: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.rectanglesContainer {
  position: absolute;
  top: 0;
  left: 0;
}

/**
 * 1. Fixes rendering bug on IE/Edge
 */
.whiteBorders, .greyBorders {
  fill: none;
  stroke: $white;
  shape-rendering: crispEdges; /* 1 */
}

/**
 * 1. Huge number to hide the stroke before the right value is calculated in JS
 */
.whiteBorders {
  stroke-opacity: 1;
  stroke-dasharray: 1000px; /* 1 */
  stroke-dashoffset: 1000px; /* 1 */
  transition: stroke-dashoffset 0.4s ease-in;
}

.greyBorders {
  stroke-opacity: 0.2;
}