@import 'src/sass/vendors/include-media';
@import 'src/sass/variables/colors';
@import 'src/sass/variables/typography';
@import 'src/sass/mixins/stretch';

// An hardcoded button size makes it easier for the animation. We don’t really need a dynamic size
// as the button seems large enough for any normally sized text.
$button-width: 183px;
$button-height: 55px;

// Export the button dimensions so that we can access them in the JS.
:export {
  buttonWidth: $button-width;
  buttonHeight: $button-height;
}

.root {
  position: relative;
  display: inline-block;
  width: $button-width;
  height: $button-height;
  font: 80% $sans-serif-font-stack;
  color: $white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  @include media('<small') {
    display: block;
    margin: 0 auto;
  }
}

/**
 * 1. Vertically aligns the content of the button.
 */
.text {
  line-height: $button-height; /* 1 */
}

.rectanglesContainer {
  @include stretch;
}

/**
 * 1. Fixes rendering bug on IE/Edge
 */
.whiteBorders,
.greyBorders {
  fill: none;
  stroke: $white;
  shape-rendering: crispEdges; /* 1 */
}

.whiteBorders {
  transition: stroke-dashoffset 1.2s ease-in-out;
  stroke-opacity: 1;
}

.greyBorders {
  stroke-opacity: 0.2;
}
