@import 'src/sass/vendors/include-media';
@import 'src/sass/variables/colors';
@import 'src/sass/variables/typography';
@import 'src/sass/variables/layout';

$border: 2px solid $contrast-grey;

.root {
  @include media('<small') {
    display: none;
  }

  position: fixed;
  top: 0;
  z-index: 3;
  width: $content-padding;
  height: 100vh;
  background: $black;
}

.transparent {
  background: none;
}

.left {
  left: 0;
  border-right: $border;
}

.right {
  right: 0;
  border-left: $border;
}

.left .verticalText {
  transform: rotate(-90deg);
}

.right .verticalText {
  transform: rotate(90deg);
}

/**
 * 1. Positioning context for after element.
 */
.verticalText {
  position: relative; /* 1 */

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: currentcolor;
    content: '';
    transition: width 500ms ease-in-out;
  }
}

.icon {
  overflow: visible;
  transition: stroke 350ms ease-in-out;
  stroke: rgba($white, 0.5);
  stroke-width: 1;
}

// sass-lint:disable force-pseudo-nesting
.link:hover,
.link:focus {
  .verticalText::after {
    width: 100%;
  }

  .icon {
    stroke: $white;
  }
}
// sass-lint:enable force-pseudo-nesting


/**
 * 1. Makes the whole column clickable.
 */
.link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* 1 */
  font-family: $serif-font-stack;
  font-size: $big-font-size;
  color: $white;
  text-decoration: none;
  white-space: nowrap;
}
