@import 'src/sass/variables/colors';
@import 'src/sass/variables/typography';
@import 'src/sass/variables/layout';

$border: 2px solid $contrast-grey;

.root {
  position: fixed;
  top: 0;
  z-index: 10;
  width: $content-padding;
  height: 100vh;
}

.left {
  left: 0;
  border-right: $border;
}

.right {
  right: 0;
  border-left: $border;
}

.left .verticalText {
  transform: rotate(-90deg);
}

.right .verticalText {
  transform: rotate(90deg);
}

/**
 * 1. Makes the whole column clickable.
 */
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* 1 */
  font-family: $serif-font-stack;
  font-size: $big-font-size;
  color: $white;
  text-decoration: underline;
  white-space: nowrap;
}
