@import 'src/sass/vendors/include-media';
@import 'src/sass/variables/colors';
@import 'src/sass/variables/typography';

.root {
  @include media('<small') {
    font-size: $huge-font-size;
  }

  font-family: $serif-font-stack;
  line-height: 2;
  letter-spacing: 1px;
  color: $white;
  text-align: center;
}
