@import 'src/sass/vendors/include-media';
@import 'src/sass/variables/colors';
@import 'src/sass/variables/typography';

.root {
  @include media('<small') {
    font-size: $small-font-size;
  }
  width: 900px;
  font-family: 'Portrait Bold';
  font-size: 60px;
  line-height: 1.3;
  letter-spacing: normal;
  color: $white;
  text-align: center;
}
