@import 'src/sass/variables/colors';
@import 'src/sass/variables/typography';

.indicator {
  position: fixed;
  bottom: 0;
  left: 10%;
  font-size: $small-font-size;
  letter-spacing: 5px;
  color: $light-grey;
  opacity: 1;
  transform: rotate(-90deg);
  transition: opacity 0.3s;
  transform-origin: bottom left;

  &::before {
    display: inline-block;
    width: 3.5em;
    height: 1px;
    margin-right: 1.5em;
    vertical-align: middle;
    background-color: $light-grey;
    content: '';
  }
}

.hidden {
  opacity: 0;
}
