@import 'src/sass/vendors/include-media';
@import 'src/sass/variables/colors';
@import 'src/sass/variables/layout';

.root {
  @include media('<small') {
    position: static;
    min-height: initial;
  }

  position: absolute;
  width: 100%;
  min-height: 100vh;
  background: $black;
}

.pushed {
  @include media('<small') {
    padding-top: 0;
  }

  padding-top: calc(#{$header-top-margin} + #{$header-height});
}

.left {
  @include media('<small') {
    padding-left: 0;
  }

  padding-left: $content-padding;
}

.right {
  @include media('<small') {
    padding-right: 0;
  }

  padding-right: $content-padding;
}
