@import 'src/sass/vendors/include-media';
@import 'src/sass/variables/colors';
@import 'src/sass/variables/layout';

.root {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background: $black;

  @include media('<small') {
    position: static;
    min-height: initial;
  }
}

.pushed {
  padding-top: calc(#{$header-top-margin} + #{$header-height});

  @include media('<small') {
    padding-top: 0;
  }
}

.left {
  padding-left: $content-padding;

  @include media('<small') {
    padding-left: 0;
  }
}

.right {
  padding-right: $content-padding;

  @include media('<small') {
    padding-right: 0;
  }
}
