@import 'src/sass/variables/layout';

.root {
  width: 100%;
  height: 100%;
}

.pushed {
  padding-top: calc(#{$header-top-padding} + #{$header-height});
}

.left {
  padding-left: $content-padding;
}

.right {
  padding-right: $content-padding;
}
