@import 'src/sass/vendors/include-media';

.root {
  @include media('<small') {
    min-height: initial;
    padding: 0 1em 1em;
  }

  position: relative;
  width: 100%;
  min-height: 100vh;
  text-align: center;
}
