@import '../variables/colors';
@import '../variables/typography';

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  overflow-x: hidden;
}

/**
 * Makes all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, ::before, ::after {
  box-sizing: inherit;
}

/**
 * 1. Fixes some webkit typography bugs.
 */
body {
  background-color: $black;
  color: $grey;
  font: #{$root-font-size} / 1.5 $sans-serif-font-stack;
  scroll-behavior: smooth;
  overflow-x: inherit;
  -webkit-font-smoothing: antialiased; /* 1 */
}

/**
 * Default style for all images.
 */
img {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}
