@import 'src/sass/variables/colors';
@import 'src/sass/variables/typography';

.root {
  position: absolute;
  bottom: 0;
}

.list {
  display: flex;
}

.item {
  width: 200px;
}

.number {
  font: $root-font-size $sans-serif-font-stack;
  color: $light-grey;
  text-align: center;
  cursor: pointer;
  background: none;
  border: 0;
  outline: none;

  &::after {
    display: block;
    width: 15px;
    height: 2px;
    margin: 6px auto 0;
    background: $light-grey;
    content: '';
  }

  &.active,
  &:focus {
    color: $grey;

    &::after {
      background: $grey;
    }
  }
}

.projectThumbnail {
  width: 0;
  opacity: 0;
  height: 95px;
  margin-top: 14px;
  background-size: cover;
  transition: opacity 1s;
}

.activeThumbnail {
  width: 100%;
  opacity: 1;
}
