@import 'static/sass/variables/colors';

.bar {
  display: inline-block;
  width: 1px;
  height: 15px;
  background-color: $light-grey;
  transition: background-color 1s;
}

.bar:not(:first-child) {
  margin-left: 6px;
}

.active {
  background-color: $white;
}

.percentage {
  margin-top: 1em;
  display: block;
  color: $grey;
}
