@import 'src/sass/variables/colors';
@import 'src/sass/variables/typography';
@import 'src/sass/variables/layout';
@import 'src/sass/mixins/stretch';

/**
 * 1. Positioning context for background element.
 * 2. Force new stacking context for the background-image.
 */
.root {
  position: relative; /* 1 */
  z-index: 1; /* 2 */
  height: calc(100vh - #{$header-padding});
  max-width: 980px;
  max-height: 790px;
  padding: 0 3em;
  margin: 0 auto;
}

.background {
  @include stretch;
  z-index: -1;
  background-size: cover;
  opacity: 0;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

$item-offset: 10%;

.item {
  &:nth-child(odd) {
    align-self: flex-start;
  }

  &:nth-child(even) {
    align-self: flex-end;
  }

  &:nth-child(2) {
    margin-right: $item-offset;
  }

  &:nth-child(3) {
    margin-left: $item-offset;
  }
}

$link-grey: rgb(37, 37, 37);

.link {
  letter-spacing: 12px;
  color: $link-grey;
  text-decoration: none;
  opacity: 0.2;
  visibility: hidden;
  transition: opacity 1s;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.visible {
  visibility: visible;
  opacity: 1;
}
