// Breakpoints for media queries.
$breakpoints: (
  'small': 768px,
  'medium': 992px,
  'large': 1200px,
);

$content-padding: 50px;
$header-top-margin: 3em;
$header-height: 45px;
$header-padding: calc(#{$header-top-margin} + #{$header-height});
$project-cover-width: 724px;
$project-cover-height: 320px;
$project-cover-perimeter: ($project-cover-width * 2) + ($project-cover-height * 2);
$slider-breadcrumb-height: 145px;
