$sans-serif-font-stack: 'Bebas Neue', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
$serif-font-stack: 'Portrait Regular';
$sans-serif-title-font-stack: 'Voltaire', 'Trebuchet', 'Tahoma', 'sans-serif';

$small-font-size: 75%;
$root-font-size: 110%;
$big-font-size: 120%;
$huge-font-size: 200%;
$very-huge-font-size: 460%;
$project-number-font-size: 2000%;

$text-shadow-offset: 15px;
