$sans-serif-font-stack: 'Bebas Neue', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
$serif-font-stack: 'Bodoni 72', 'Georgia', 'Times', 'Times New Roman', 'serif';
$sans-serif-title-font-stack: 'Voltaire', 'Trebuchet', 'Tahoma', 'sans-serif';

$root-font-size: 110%;
$big-font-size: 120%;
