@import 'src/sass/variables/colors';
@import 'src/sass/variables/typography';

$about-text-letter-spacing: 200px;

/**
 * 1. Positioning context for before pseudo-element.
 * 2. Counteracts the letter spacing on the last letter.
 * 3. Use rgba color instead of opacity so that the before pseudo-element doesn’t have an
 *    opacity relative to its parent.
 */
.text {
  position: relative; /* 1 */
  margin-right: -$about-text-letter-spacing; /* 2 */
  font: $very-huge-font-size $serif-font-stack;
  letter-spacing: $about-text-letter-spacing;
  color: rgba($white, 0.1); /* 3 */
  text-transform: uppercase;

  &::before {
    position: absolute;
    top: -$text-shadow-offset;
    content: attr(data-content);
  }
}
