@import 'src/sass/variables/colors';
@import 'src/sass/variables/typography';

$about-text-letter-spacing: 200px;

/**
 * 1. Positioning context for shadow element.
 */
.container {
  position: relative; /* 1 */
  text-align: center;
  display: inline-block;
}

/**
 * 1. Counteracts the letter spacing on the last letter.
 */
.text {
  font: $very-huge-font-size $serif-font-stack;
  color: $white;
  letter-spacing: $about-text-letter-spacing;
  margin-right: -$about-text-letter-spacing; /* 1 */
  text-transform: uppercase;
  opacity: 0.1;
}

.shadow {
  position: absolute;
  top: -15px;
  left: 0;
}
