@import 'src/sass/vendors/include-media';
@import 'src/sass/variables/colors';
@import 'src/sass/variables/typography';
@import 'src/sass/variables/layout';

$project-title-letter-spacing: 18px;
$project-title-letter-spacing-mobile: 10px;

.root {
  @include media('<x-small') {
    background-position: 120% 40%;
    background-size: auto 40%;
  }

  @include media('>=x-small', '<small') {
    background-position: 100% 40%;
    background-size: auto 70%;
  }

  /**
   * 1. Position the section so that the background image can be on the edge of the screen
   */
  @include media('<small') {
    left: 1em; /* 1 */
    height: initial;
  }

  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - #{$header-padding});
  background-position: 100% center;
  background-repeat: no-repeat;
  background-size: auto 80%;
}

.content {
  /**
   * 1. Counter act the root element offset
   */
  @include media('<small') {
    position: relative;
    left: -1em; /* 1 */
    width: 100%;
  }
}

.number {
  @include media('<small') {
    left: -30px;
    font-size: 500%;
  }

  position: absolute;
  top: 50%;
  left: -$content-padding + 10px;
  font: $project-number-font-size $serif-font-stack;
  letter-spacing: 5px;
  color: $white;
  opacity: 0.04;
  transform: translateY(-50%);
}

.title {
  @include media('<small') {
    font-size: $root-font-size;
    letter-spacing: $project-title-letter-spacing-mobile;
    text-shadow: -8px -10px 0 rgba($white, 0.15);
  }

  margin-right: -$project-title-letter-spacing;
  margin-bottom: 3em;
  font: 200% $serif-font-stack;
  letter-spacing: $project-title-letter-spacing;
  color: $white;
  text-align: center;
  text-shadow: -11px -20px 0 rgba($white, 0.15);
  text-transform: uppercase;
}

.descriptionWrapper {
  max-width: 470px;
  margin: auto;
  font-family: $serif-font-stack;
}

.infoWrapper {
  @include media('<small') {
    margin: 2em auto;
  }

  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: 4em auto;
}

.buttonWrapper {
  text-align: center;
}
