@import 'src/sass/variables/colors';
@import 'src/sass/variables/typography';
@import 'src/sass/variables/layout';

$project-title-letter-spacing: 18px;

/*
* 1. Magic number to only have the left side of the picture showing
*/
.root {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - #{$header-padding});
  background-position: 200% center; /* 1 */
  background-repeat: no-repeat;
  background-size: auto 80%;
}

.number {
  position: absolute;
  top: 50%;
  left: -$content-padding + 10px;
  font: $project-number-font-size $serif-font-stack;
  letter-spacing: 10px;
  color: $white;
  opacity: 0.07;
  transform: translateY(-50%);
}

.title {
  margin-right: -$project-title-letter-spacing;
  margin-bottom: 3em;
  font: 200% $serif-font-stack;
  letter-spacing: $project-title-letter-spacing;
  color: $white;
  text-align: center;
  text-shadow: -11px -20px 0 rgba($white, 0.15);
  text-transform: uppercase;
}

.descriptionWrapper {
  max-width: 470px;
  margin: auto;
  font-family: $serif-font-stack;
}

.infoWrapper {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: 4em auto;
}

.buttonWrapper {
  text-align: center;
}
