@import 'src/sass/vendors/include-media';
@import 'src/sass/variables/colors';
@import 'src/sass/variables/typography';
@import 'src/sass/variables/layout';

.root {
  @include media('<small') {
    position: static;
    right: initial;
    left: initial;
    padding: 0 1em;
    margin: 2em 0 3em;
  }

  position: fixed;
  top: $header-top-margin;
  right: 6em;
  left: 6em;
  z-index: 10;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: $header-height;
}

.text {
  font-family: $serif-font-stack;
  line-height: 1.1;
  letter-spacing: 1px;
}

.name {
  @include media('<small') {
    font-size: $root-font-size;
  }

  font-size: $big-font-size;
  color: $white;
}

.role {
  @include media('<small') {
    font-size: 95%;
  }

  color: $light-grey;
}
