@import 'src/sass/variables/colors';
@import 'src/sass/variables/typography';
@import 'src/sass/variables/layout';

.root {
  position: fixed;
  top: $header-top-margin;
  right: 6em;
  left: 6em;
  z-index: 10;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: $header-height;
}

.text {
  font-family: $serif-font-stack;
  line-height: 1.1;
  letter-spacing: 1px;
}

.name {
  font-size: $big-font-size;
  color: $white;
}

.role {
  color: $light-grey;
}
