@import 'src/sass/vendors/include-media';
@import 'src/sass/variables/typography';
@import 'src/sass/variables/colors';

.link {
  @include media('<small') {
    font-size: 90%;
  }

  font: $big-font-size $serif-font-stack;
  color: $white;
  text-decoration: none;
}
