.image {
  width: 60%;
  margin-bottom: 6em;
  opacity: 0;
  transform: translate3d(0, 10%, 0);
  transition: opacity 1s, transform 1s;
}

.visible {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
