@import 'src/sass/vendors/include-media';
@import 'src/sass/variables/colors';
@import 'src/sass/variables/typography';

.root {
  padding-bottom: 3em;
}

.item {
  @include media('>=x-small', '<small') {
    height: 270px;
  }

  position: relative;
  width: 100%;
  height: 170px;
  margin-bottom: 4em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.type {
  display: block;
  font-size: 85%;
  color: $light-grey;
}

.title {
  font: $root-font-size $serif-font-stack;
  color: $white;
}

.buttonWrapper {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
