@import 'src/sass/vendors/include-media';
@import 'src/sass/variables/colors';
@import 'src/sass/variables/typography';

.title {
  @include media('<small') {
    margin-bottom: 1em;
  }

  display: block;
  font-family: $sans-serif-font-stack;
  color: $fluo;
  text-align: center;
}

.content {
  display: block;
  color: $white;
  text-align: center;
}

.content a {
  color: inherit;
  text-decoration: none;
}

.smallText {
  @include media('<small') {
    max-width: 70px;
  }
}
