@import 'src/sass/variables/colors';
@import 'src/sass/variables/typography';

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-height: 100vh;
  background-image: url('pages/static/images/about-picture.png');
  background-position: right top;
  background-repeat: no-repeat;
}

.content {
  margin: 9% 0;
  font-family: $serif-font-stack;
  line-height: 2;
  letter-spacing: 1px;
  color: $white;
  text-align: center;
}

.gold {
  color: $gold;
}

.link {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s;

  &:hover,
  &:focus {
    color: $gold;
  }
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.buttonsContainer > :nth-child(2) {
  margin: 0 2em;
}

.shadowWrapper {
  display: flex;
  justify-content: center;
}

.topShadowWrapper {
  position: relative;
  top: 15px;
}
