@import 'src/sass/vendors/include-media';
@import 'src/sass/variables/colors';
@import 'src/sass/variables/typography';

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-height: 100vh;
  background-image: url('pages/static/images/about-picture.png');
  background-position: right top;
  background-repeat: no-repeat;

  @include media('<small') {
    height: initial;
    background-image: none;
  }
}

.contentWrapper {
  margin: 9% 0;

  @include media('<small') {
    margin: 2em 0 0;
  }
}

.gold {
  color: $gold;
}

.link {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s;

  &:hover,
  &:focus {
    color: $gold;
  }
}

.socialNetworksWrapper {
  margin-top: 3em;

  @include media('<small') {
    margin-top: 2em;
  }
}

.shadowWrapper {
  display: flex;
  justify-content: center;
}

/**
 * 1. Centers properly the text on the page by counteracting the shadow’s position.
 */
.topShadowWrapper {
  position: relative;
  top: $text-shadow-offset; /* 1 */

  @include media('<small') {
    top: 0;
  }
}
